 <div class="row">
    <div class="eight columns">
      <h3>Details will be given <span>soon</span></h3>
      

</ul></p>
    </div>
    <div class="four columns">
       <ul class="vertical tabs">
          
          <li <%= active_class('Home', 'cfg')%>><%= link_to "Author Info", '#' %></li>

           <li <%= active_class('Home', 'guidelines')%>><%= link_to "Guidelines", '#' %></li>

          <li <%= active_class('Home', 'submit')%>><%= link_to "Submit", '#' %></li>
         

         
        </ul>
    </div>
  </div>
  