 <div class="row">
    <div class="eight columns">
      <h3 class='center'>Welcome to <span>21th IMEKO TC-2</span> Symposium </h3><h3 class='center'><span>„Photonics in Measurement”</span></h1>
  <h5 class='center'>16-18 September 2013<br />Gdańsk – Poland</h5>
  <article>
    <figure>
      <%= image_tag 'index_1.jpg' %>
    </figure><br />
    
    We announce with pleasure that the 21 IMEKO TC2 Symposium on Photonics in Measurement will be held from 16 to 18 September 2012 in Gdansk, Poland. The symposium is organized by the Faculty of Electronics, Telecommunication and Informatics of the Gdansk University of Technology in cooperation with IMEKO TC2.We intend to provide a forum for the discussion of the latest re-search in optical measurement techniques.
  </article>
    </div>
    <div class="four columns">
       <ul class="vertical tabs">
          
          <li <%= active_class('Home', 'index')%>><%= link_to "Greetings", root_path %></li>

           <li <%= active_class('Home', 'comittee')%>><%= link_to "Organising Comittee", comittee_path %></li>

          <li <%= active_class('Home', 'overview')%>><%= link_to "Brief Overview", overview_path %></li>

        </ul>
    </div>
  </div>
  
  
  <!-- Third Band (Image Right with Text) -->
  
