 <div class="row">
    <div class="eight columns">
      <h3>Details will be given <span>soon</span></h3>
      

</ul></p>
    </div>
    <div class="four columns">
       <ul class="vertical tabs">
          
          <li <%= active_class('Home', 'hi')%>><%= link_to "Host Institute", '#' %></li>

           <li <%= active_class('Home', 'hc')%>><%= link_to "Host City", '#' %></li>

          <li <%= active_class('Home', 'travel')%>><%= link_to "Travel Informations", '#' %></li>
         

         
        </ul>
    </div>
  </div>
  