 <div class="row">
    <div class="eight columns">
      <h3>The academic <span>topics of the symposium</span> include, but are not limited to:</h3>
      <p><ul>
    <li>Spectroscopy (Fluorescence, Raman, etc) </li>
	  <li>Interferometry (White-Light and Laser-Interferometry, Speckle, OCT, etc.) </li>
	  <li>Modulating Techniques (Pulse, Doppler, FM etc.) </li>
	  <li>Structured Illumination Techniques </li>
	  <li>Image Sensing (Camera-Based Sensors) </li>
	  <li>Confocal Measurements </li>
	  <li>Wave Front Sensors </li>
	  <li>Deflectometric Measurement</li> 
	  <li>Miniaturization of Optical Measurement Systems (e.g. Integrated Optical Systems, Fibre-Optical Sensors, Laser Sensors) </li>
	  <li>Multi-Sensorial Systems </li>
	  <li>Intelligent and Self-Inspecting Systems </li>
	  <li>Scalable Systems </li>
	  <li>Fibre Optics and Photonic Crystals </li>
	  <li>New Light Sources and Detectors </li>
	  <li>Simulation and optic design </li>
	  <li>Life Science (Medicine, Environment, Pharmacy , Biology, Food etc.)</li> 
	  <li>Production Technology </li>
	  <li>IT-Systems </li>
	  <li>Traffic </li>
	  <li>Optical Systems vs. Measuring Techniques</li> 
	  <li>Terahertz Techniques </li>
	  <li>X-Ray Techniques         </li>
	  <li>Special session „Diamond and photonics”</li>

</ul></p>
    </div>
    <div class="four columns">
       <ul class="vertical tabs">
          
          <li <%= active_class('Home', 'program')%>><%= link_to "At glance", program_path %></li>

           <li <%= active_class('Home', 'speakers')%>><%= link_to "Plenary  Speakers", '#' %></li>

          <li <%= active_class('Home', 'sessions')%>><%= link_to "Sessions", '#' %></li>
          <li <%= active_class('Home', 'daily')%>><%= link_to "Daily Program", "#" %></li>

           <li <%= active_class('Home', 'social')%>><%= link_to "Social Programs", "#" %></li>

         
        </ul>
    </div>
  </div>
  